PORT=3000
HOST=0.0.0.0
ALGORITHM=aes-256-cbc
IV=92dfd892efa8a035
MONGO_URL=mongodb://{{ database_user }}:{{ database_user_pass }}@{{ database_host }}:27017/{{ database }}
MONGO_DB={{ database }}
PUBLIC_URL=http://localhost:3000
DELETE_STALE_MESSSAGES=false
DELETE_STALE_MESSAGES_DAYS=60